@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4 fw-bold">Đây là view index của Hellocontroller</h1>
    <h2 class="fw-bold">@ViewBag.Message</h2>
    <h2 class="fw-bold">@ViewBag.date</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
